<h1>Perfil</h1>
<table border="1">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Nombre Completo</th>
    <th>Correo Electrónico</th>
    <th>Profesión</th>
    <th>Genero</th>
    <th>Dirección</th>
  </tr>
  <tr>
    <td>{{nombre}}</td>
    <td>{{apellido}}</td>
    <td>{{nombreCompleto}}</td>
    <td>{{email}}</td>
    <td>{{profesion}}</td>
    <td>{{genero}}</td>
    <td>{{direccion}}</td>
  </tr>
</table>
